.Album_Container {
    display: flex;
    margin-bottom: 100px;
}

.AlbumArt_Container {
    margin: auto;
    position: relative;
    width: 60vw;
    height: 60vw;
    min-width: 270px;
    min-height: 270px;
    max-width: 950px;
    max-height: 950px;
}

.AlbumArt_Image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.AlbumInfo_Container {
    position: absolute;
    right: 20px;
    top: 14px;
}

.AlbumInfo_Icon {
    cursor: pointer;
}

.AlbumInfo_OverlayContainer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 12px;
    padding: 8px;
    p {
        margin-bottom: 0;
    };
}

.TrackList_Container {
    margin: auto;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    min-width: 280px;
}

.TrackList_ContainerBG {
    color: white;
    border-radius: 12px;
    padding: 20px;
}

.TrackList_Submitters {
    margin-left: 20px;
    margin-top: -8px;
    font-size: large;
}

.TrackList_Emoji {
    margin-left: 4px;
    margin-top: 8px;
}

.AlbumInfo_OverlayContainer {
    margin-right: 20px;
    background-color: white;
    border: 1px solid black;
}

.TrackList_Title_Container {
    display: flex;
    margin-top: 4px;
}

.TrackList_Title_PlayButton {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.TrackList_Title {
    font-size: x-large;
}