.App_Root {
  background-image: url('./Assets/Background.jpg');
  min-width: 360px;
  padding-bottom: 1px;
  overflow: hidden;
}

.App_NavBar {
  background-color: transparent;
  padding: 0 !important;
  height: 100px;
}

.App_Season_Dropdown {
  top: 20px;
  right: 20px;
  z-index: 1;
  position: fixed !important;
}

.App_Container {
  max-width: 1440px;
  margin: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.App_SpotifyPlayer {
  padding-bottom: 0 !important;
  width: 100%;
  justify-content: left;
  display: flex;
  position: fixed;
  z-index: 1;
  margin-top: 10px;
  margin-left: 10px;
}